header {
  height: 71px;
  background: white;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.header-container {
  width: 1124px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.uber-logo {
  margin-top: 30px;
}

.button {
  width: 80px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background: white;
}

.button__wrapper {
  display: flex;
  align-items: center;
}
